
/**, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body, html {
  overflow: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  padding-bottom: 20px;
}

.main, .main2, .main3, .main4, .main5 {
/*  padding-top: 200px;*/
  text-align: center;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #AF4335;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

/*  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);*/

}

.main2, .main3, .main4, .main5 {
  z-index: 1;
}

.main2 {
  background-color: #444554;
}

.main3 {
  background-color: #00a676;
}

.main4 {
  background-color: #247BA0;
}
.main5 {
  background-color: #583450;
}

@-webkit-keyframes open {
  0% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      display: none;
      visibility: hidden;
  }
  100% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-webkit-keyframes openUp {
  0% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      display: none;
      visibility: hidden;
  }
  100% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-webkit-keyframes close {
  0% {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-webkit-keyframes closeUp {
  0% {
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
  }
}
@-moz-keyframes open {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-moz-keyframes openUp {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-moz-keyframes close {
  0% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-moz-keyframes closeUp {
  0% {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-o-keyframes open {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-o-keyframes openUp {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-o-keyframes close {
  0% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@-o-keyframes closeUp {
  0% {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}
@keyframes open {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@keyframes openUp {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@keyframes close {
  0% {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}

@keyframes closeUp {
  0% {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
}


.down-arrow, .up-arrow {
  position: fixed;
  z-index: 60;
  height: 54px;
  width: 54px;
  background-color: rgba(198,73,64,.7);

  /* image replacement */

  /*overflow: hidden;*/
  /*text-indent: 100%;*/
  /*white-space: nowrap;*/
  /*-webkit-transition: -webkit-transform 0.5s;*/
  /*-moz-transition: -moz-transform 0.5s;*/
  /*transition: transform 0.5s;*/
}

.down-arrow {
  bottom: 50px;
  right: 50px;
}

.up-arrow {
  bottom: 110px;
  right: 50px;
}

.down-arrow .down-icon, .up-arrow .up-icon {
  position: absolute;
  left: 32%;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 22px;
  height: 2px;
}

.up-arrow .up-icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.down-arrow .down-icon::before, .down-arrow .down-icon:after,
.up-arrow .up-icon::before, .up-arrow .up-icon:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  -o-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}

.down-arrow .down-icon::before,
.up-arrow .up-icon::before {
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.down-arrow .down-icon::after,
.up-arrow .up-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.down-arrow:hover .down-icon::before,
.up-arrow:hover .up-icon::before {
 -webkit-transform: rotate(-55deg);
 -moz-transform: rotate(-55deg);
 -ms-transform: rotate(-55deg);
 -o-transform: rotate(-55deg);
 transform: rotate(-55deg);
 /*background-color: #000;*/
}

.down-arrow:hover .down-icon::after,
.up-arrow:hover .up-icon::after {
 -webkit-transform: rotate(55deg);
 -moz-transform: rotate(55deg);
 -ms-transform: rotate(55deg);
 -o-transform: rotate(55deg);
 transform: rotate(55deg);
 /*background-color: #000;*/
}

.down-arrow:hover,
.up-arrow:hover {
/*  background-color: #fff;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;*/
}

/*@-webkit-keyframes clap {
  0% {
    -webkit-transform: rotate(-55deg);
    transform: rotate(-55deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-55deg);
    transform: rotate(-55deg);
  }
}*/





/********************************************
changing color arrows
could make both up and down change color?
hover?
*********************/

/* .color-white {
  -webkit-animation: colorMain .25s linear;
  -webkit-animation-fill-mode: forwards;
}*/

/*.butt {
  background-color: #fff;
}*/

/*.down {
  background-color: rgba(185,77,63,.7);
}*/

.color-change {
  -webkit-animation: colorMain 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorMain 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorMain 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorMain 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorMain 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

.color-change-buttons {
  -webkit-animation: colorButtons 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorButtons 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorButtons 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorButtons 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorButtons 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

@-webkit-keyframes colorMain {
/*  0% {
    background-color: rgba(198,73,64,.7);
  }*/
  100% {
    background-color: rgba(89,91,107, .7);
  }
}

@-webkit-keyframes colorButtons {
  100% {
    background-color: #444554;
  }
}

@-moz-keyframes colorMain {
  100% {
    background-color: rgba(89,91,107, .7);
  }
}

@-moz-keyframes colorButtons {
  100% {
    background-color: #444554;
  }
}

@-ms-keyframes colorMain {
  100% {
    background-color: rgba(89,91,107, .7);
  }
}

@-ms-keyframes colorButtons {
  100% {
    background-color: #444554;
  }
}

@-o-keyframes colorMain {
  100% {
    background-color: rgba(89,91,107, .7);
  }
}

@-o-keyframes colorButtons {
  100% {
    background-color: #444554;
  }
}

@keyframes colorMain {
  100% {
    background-color: rgba(89,91,107, .7);
  }
}

@keyframes colorButtons {
  100% {
    background-color: #444554;
  }
}

.color-change2 {
  -webkit-animation: colorMainTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorMainTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorMainTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorMainTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorMainTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

.color-change-buttons2 {
  -webkit-animation: colorButtonsTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorButtonsTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorButtonsTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorButtonsTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorButtonsTwo 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

@-webkit-keyframes colorMainTwo {
  100% {
    background-color: rgba(2,191,133, 0.7);
  }
}

@-webkit-keyframes colorButtonsTwo {
  100% {
    background-color: #00a676;
  }
}


@-moz-keyframes colorMainTwo {
  100% {
    background-color: rgba(2,191,133, 0.7);
  }
}

@-moz-keyframes colorButtonsTwo {
  100% {
    background-color: #00a676;
  }
}


@-ms-keyframes colorMainTwo {
  100% {
    background-color: rgba(2,191,133, 0.7);
  }
}

@-ms-keyframes colorButtonsTwo {
  100% {
    background-color: #00a676;
  }
}


@-o-keyframes colorMainTwo {
  100% {
    background-color: rgba(2,191,133, 0.7);
  }
}

@-o-keyframes colorButtonsTwo {
  100% {
    background-color: #00a676;
  }
}


@keyframes colorMainTwo {
  100% {
    background-color: rgba(2,191,133, 0.7);
  }
}

@keyframes colorButtonsTwo {
  100% {
    background-color: #00a676;
  }
}

.color-change3 {
  -webkit-animation: colorMainThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorMainThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorMainThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorMainThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorMainThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

.color-change-buttons3 {
  -webkit-animation: colorButtonsThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorButtonsThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorButtonsThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorButtonsThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorButtonsThree 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

@-webkit-keyframes colorMainThree {
  100% {
    background-color: rgba(46,151,188, .7);
  }
}

@-webkit-keyframes colorButtonsThree {
  100% {
    background-color: #247BA0;
  }
}

@-moz-keyframes colorMainThree {
  100% {
    background-color: rgba(46,151,188, .7);
  }
}

@-moz-keyframes colorButtonsThree {
  100% {
    background-color: #247BA0;
  }
}

@-ms-keyframes colorMainThree {
  100% {
    background-color: rgba(46,151,188, .7);
  }
}

@-ms-keyframes colorButtonsThree {
  100% {
    background-color: #247BA0;
  }
}

@-o-keyframes colorMainThree {
  100% {
    background-color: rgba(46,151,188, .7);
  }
}

@-o-keyframes colorButtonsThree {
  100% {
    background-color: #247BA0;
  }
}

@keyframes colorMainThree {
  100% {
    background-color: rgba(46,151,188, .7);
  }
}

@keyframes colorButtonsThree {
  100% {
    background-color: #247BA0;
  }
}

.color-change4 {
  -webkit-animation: colorMainFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorMainFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorMainFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorMainFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorMainFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

.color-change-buttons4 {
  -webkit-animation: colorButtonsFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorButtonsFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorButtonsFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorButtonsFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorButtonsFour 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

@-webkit-keyframes colorMainFour {
  100% {
    background-color: rgba(109,67,101, .7);
  }
}

@-webkit-keyframes colorButtonsFour {
  100% {
    background-color: #583450;
  }
}

@-moz-keyframes colorMainFour {
  100% {
    background-color: rgba(109,67,101, .7);
  }
}

@-moz-keyframes colorButtonsFour {
  100% {
    background-color: #583450;
  }
}

@-ms-keyframes colorMainFour {
  100% {
    background-color: rgba(109,67,101, .7);
  }
}

@-ms-keyframes colorButtonsFour {
  100% {
    background-color: #583450;
  }
}

@-o-keyframes colorMainFour {
  100% {
    background-color: rgba(109,67,101, .7);
  }
}

@-o-keyframes colorButtonsFour {
  100% {
    background-color: #583450;
  }
}

@keyframes colorMainFour {
  100% {
    background-color: rgba(109,67,101, .7);
  }
}

@keyframes colorButtonsFour {
  100% {
    background-color: #583450;
  }
}

.color-change5 {
  -webkit-animation: colorMainBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorMainBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorMainBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorMainBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorMainBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

.color-change-buttons5 {
  -webkit-animation: colorButtonsBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: colorButtonsBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-animation-fill-mode: forwards;
  -ms-animation: colorButtonsBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -ms-animation-fill-mode: forwards;
  -o-animation: colorButtonsBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -o-animation-fill-mode: forwards;
  animation: colorButtonsBack 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
  animation-fill-mode: forwards;
}

@-webkit-keyframes colorMainBack {
  100% {
    background-color: rgba(198,73,64,.7);
  }
}

@-webkit-keyframes colorButtonsBack {
  100% {
    background-color: #AF4335;
  }
}

@-moz-keyframes colorMainBack {
  100% {
    background-color: rgba(198,73,64,.7);
  }
}

@-moz-keyframes colorButtonsBack {
  100% {
    background-color: #AF4335;
  }
}

@-ms-keyframes colorMainBack {
  100% {
    background-color: rgba(198,73,64,.7);
  }
}

@-ms-keyframes colorButtonsBack {
  100% {
    background-color: #AF4335;
  }
}

@-o-keyframes colorMainBack {
  100% {
    background-color: rgba(198,73,64,.7);
  }
}

@-o-keyframes colorButtonsBack {
  100% {
    background-color: #AF4335;
  }
}

@keyframes colorMainBack {
  100% {
    background-color: rgba(198,73,64,.7);
  }
}

@keyframes colorButtonsBack {
  100% {
    background-color: #AF4335;
  }
}


.clicked-down2 .down-arrow .color-change,
.clicked-up2 .up-arrow .color-change {

}

.clicked-down2 .down-arrow,
.clicked-up2 .up-arrow {
  background-color: #FCFCFC;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s;
}

.clicked-down2 .down-icon::before,
.clicked-down2 .down-icon::after,
.clicked-up2 .up-icon::before,
.clicked-up2 .up-icon::after {
  background-color: #0D0809;
}

.clicked-down .down-arrow:hover .down-icon::before,
.clicked-up .up-arrow:hover .up-icon::before {

  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  transform: rotate(55deg);

  top: 1px;
}

.clicked-down .down-arrow .down-icon::before,
.clicked-up .up-arrow .up-icon::before {

  top: 1px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.clicked-down .down-arrow:hover .down-icon::after,
.clicked-up .up-arrow:hover .up-icon::after {

  -webkit-transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  -o-transform: rotate(-55deg);
  transform: rotate(-55deg);

}

.clicked-down .down-arrow .down-icon::after,
.clicked-up .up-arrow .up-icon::after {

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

}







  /* Force Hardware Acceleration in WebKit */
/*  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  z-index: 20;*/

.no-js .main {
  /*height: auto;*/
  /*overflow: visible;*/
}

.fixed {
  /*min-height: 92%;
  min-width: 55%;*/
  position: absolute;
  bottom: 30px;
  top: 30px;
  left: 25px;
  right: 550px;
  z-index: 50;
  position: absolute;
  background-color: rgba(198,73,64,.7);
}


.fixed img {
  max-width: 60px;
  margin: 10px 0 0 10px;
  opacity: .4;
}

.fixed h1 {

  font-size: 50px;
  color: #FCFCFC;
  margin-top: 175px;
  margin-left: 15px;

}

p {
  font-size: 25px;
  font-family: 'Merriweather', serif;
}

.fixed .button-contact {
  max-width: 120px;
  background-color: #AF4335;
  margin-left: 15px;
  margin-top: 50px;
}

.fixed .button-contact p,
.fixed .button-portfolio p {
  padding: 10px;
}

.fixed .button-contact p {
  padding: 8px 10px 12px;
  max-height: 25px;
}

.fixed .button-portfolio {
  max-width: 130px;
  background-color: #AF4335;
  margin-left: 15px;
  margin-top: 10px;
}

button {
  border: none;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #0D0809;
  margin-bottom: 10px;
}

/*.fixed h2, .content h2,
.content2 h2, .content3 h2,
.content4 h2, .content5 h2 {
  margin-left: 17px;
  font-size: 20px;
  position: relative;
  color: #0D0809;
  font-family: 'Quicksand', sans-serif;
}

.fixed .fixed-content>p, .content p,
.content2 p, .content3 p, .content4 p,
.content5 p {
  margin-left: 17px;
  margin-top: 5px;
  max-width: 600px;
}*/



h1 {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
}

.port-heading a {
  font-size: 45px;
}

.one {
  padding-left: 200px;
}

.main {
  background-color: #AF4335;
}

.logo {
  max-width: 150px;
  margin-left: 55%;
  margin-top: 22%;

}

.bubble1 {
  margin-top: 60px;
  margin-left: 750px;
  opacity: 0.1;
  max-width: 70px;
}

.bubble2 {
  margin-top: 240px;
  margin-left: 180px;
  opacity: 0.1;
  max-width: 190px;
}

.bubble3 {
  margin-top: 160px;
  margin-left: 1150px;
  opacity: 0.1;
  max-width: 30px;
}

.bubble4 {
  margin-top: 450px;
  margin-left: 400px;
  opacity: 0.1;
}

.phone {
  max-width: 150px;
  margin-left: 55%;
  margin-top: 22%;
}

.phone1 {
  max-width: 70px;
  margin-top: 60px;
  margin-left: 760px;
  opacity: 0.1;
}

.phone2 {
  margin-top: 150px;
  margin-left: 190px;
  opacity: 0.1;
  max-width: 150px;
}

.phone3 {
  margin-top: 140px;
  margin-left: 1150px;
  opacity: 0.1;
  max-width: 30px;
}

.phone4 {
  margin-top: 360px;
  margin-left: 430px;
  opacity: 0.1;
}

.wrench {
  max-width: 180px;
  margin-left: 55%;
  margin-top: 22%;
}

.wrench1 {
  max-width: 70px;
  margin-top: 60px;
  margin-left: 760px;
  opacity: 0.1;
}

.wrench2 {
  margin-top: 180px;
  margin-left: 170px;
  opacity: 0.1;
  max-width: 200px;
}

.wrench3 {
  margin-top: 140px;
  margin-left: 1150px;
  opacity: 0.1;
  max-width: 50px;
}

.wrench4 {
  margin-top: 380px;
  margin-left: 380px;
  opacity: 0.1;
}

.tie {
  max-width: 80px;
  margin-left: 55%;
  margin-top: 22%;
}

.tie1 {
  max-width: 30px;
  margin-top: 60px;
  margin-left: 770px;
  opacity: 0.1;
}

.tie2 {
  margin-top: 130px;
  margin-left: 220px;
  opacity: 0.1;
  max-width: 90px;
}

.tie3 {
  margin-top: 140px;
  margin-left: 1150px;
  opacity: 0.1;
  max-width: 20px;
}

.tie4 {
  margin-top: 175px;
  margin-left: 500px;
  opacity: 0.1;
}

/*.bulb {
  max-width: 155px;
  margin-left: 690px;
  margin-top: 270px;
}

.light {
  max-width: 350px;
  margin-left: 810px;
  margin-top: 180px;
}*/

.lightbulb {
  max-width: 275px;
  margin-left: 55%;
  margin-top: 22%;
}

.lightbulb1 {
  max-width: 100px;
  margin-top: 40px;
  margin-left: 740px;
  opacity: 0.1;
}

.lightbulb2 {
  margin-top: 110px;
  margin-left: 120px;
  opacity: 0.1;
  max-width: 285px;
}

.lightbulb3 {
  margin-top: 140px;
  margin-left: 1150px;
  opacity: 0.1;
  max-width: 70px;
}

.lightbulb4 {
  margin-top: 190px;
  margin-left: 275px;
  opacity: 0.1;
}

/*******************************************************************
portfolio
********************************************************************/

.rbdesigns {
  max-width: 350px;
  margin-left: 55%;
  margin-top: 22%;
}

.rbdesigns_mobile {
  margin-top: 200px;
  margin-left: 260px;
  opacity: 0.3;
}



.content, .content2, .content3, .content4, .content5 {

  position: absolute;

  overflow: hidden;
  color: #fcfcfc;
  bottom: 50px;
  left: 45px;
  right: 50px;
  max-width: 600px;

}

.content {
  z-index: 60;
}

a {
  color: #FCFCFC;
}

a:hover {
  color: #0D0809;
}

@-webkit-keyframes openContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*line-height: 4px;*/
  }

  50% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*line-height: 20px;*/
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      z-index: -100;
  }
}

@-webkit-keyframes closeContent {
  0% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-webkit-keyframes openUpContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }
  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      z-index: -100;
  }
}

@-webkit-keyframes closeUpContent {
  0% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-moz-keyframes openContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*line-height: 4px;*/
  }

  50% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*line-height: 20px;*/
  }
  100% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*z-index: -100;*/
  }
}

@-moz-keyframes closeContent {
  0% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-moz-keyframes openUpContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }
  100% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
      /*z-index: -100;*/
  }
}

@-moz-keyframes closeUpContent {
  0% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-ms-keyframes openContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*line-height: 4px;*/
  }

  50% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*line-height: 20px;*/
  }
  100% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*z-index: -100;*/
  }
}

@-ms-keyframes closeContent {
  0% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-ms-keyframes openUpContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }
  100% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
      /*z-index: -100;*/
  }
}

@-ms-keyframes closeUpContent {
  0% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-o-keyframes openContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*line-height: 4px;*/
  }

  50% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*line-height: 20px;*/
  }
  100% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*z-index: -100;*/
  }
}

@-o-keyframes closeContent {
  0% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@-o-keyframes openUpContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }
  100% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
      /*z-index: -100;*/
  }
}

@-o-keyframes closeUpContent {
  0% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@keyframes openContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*line-height: 4px;*/
  }

  50% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*line-height: 20px;*/
  }
  100% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
      /*z-index: -100;*/
  }
}

@keyframes closeContent {
  0% {
      -webkit-transform: translateY(-2500%);
      -moz-transform: translateY(-2500%);
      -ms-transform: translateY(-2500%);
      -o-transform: translateY(-2500%);
      transform: translateY(-2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

@keyframes openUpContent {
  0% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
  }
  50% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }
  100% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
      /*z-index: -100;*/
  }
}

@keyframes closeUpContent {
  0% {
      -webkit-transform: translateY(2500%);
      -webmozansform: translateY(2500%);
      -ms-transform: translateY(2500%);
      -o-transform: translateY(2500%);
      transform: translateY(2500%);
  }

  100% {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%);
      /*z-index: 60;*/
  }
}

/*#container ul {
  background-color: #fff;
}*/


@-webkit-keyframes spaceLines {
  0%{
    line-height: 100%;
  }
  25% {
    line-height: 350%;
  }
}

@-webkit-keyframes spaceLinesBack {
  0%{
    line-height: 100px;
  }
  50% {
    line-height: 75px;
  }
  100% {
    line-height: 50px;
  }
}


/*******************************************************************
ME-D-UH QUERIES
********************************************************************/
/* height */

@media screen and (max-height: 720px) {
  .fixed img {
    max-width: 55px;
  }

  .fixed h1 {
    font-size: 45px;
    margin-top: 50px;
  }

  p {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }

  .fixed .button-contact {
    margin-top: 15px;
  }

  .fixed .button-contact p,
  .fixed .button-portfolio p {
    padding: 10px;
  }
  .fixed .button-contact {
    max-width: 100px;
  }

  .fixed .button-contact p {
    padding: 7px 10px 8px;
    max-height: 25px;
  }
  .fixed .button-portfolio {
    max-width: 110px;
  }
}



/* width */

@media screen and (max-width: 1199px) {
  .fixed {
    right: 360px;
  }
}


@media screen and (max-width: 991px) {
  .fixed img {
    max-width: 55px;
  }

  .fixed h1 {
    font-size: 45px;
    margin-top: 50px;
  }

  p {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }

  .fixed .button-contact {
    margin-top: 15px;
  }

  .fixed .button-contact p,
  .fixed .button-portfolio p {
    padding: 10px;
  }
  .fixed .button-contact {
    max-width: 100px;
  }

  .fixed .button-contact p {
    padding: 7px 10px 8px;
    max-height: 25px;
  }

  .fixed .button-portfolio {
    max-width: 110px;
  }

  .content, .content2, .content3, .content4, .content5 {
    max-width: 350px;
  }

  .fixed {
    right: 360px;
  }

  .port-heading a {
    font-size: 28px;
  }
}


@media screen and (max-width: 767px) {

  .fixed {
    bottom: 15px;
    top: 15px;
    left: 10px;
    right: 15px;
  }

  .fixed img {
    max-width: 30px;
  }

  .fixed h1 {
    font-size: 30px;
    margin-top: -35px;
    margin-left: 50px;
    padding-bottom: 0;
  }

  p {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }

  .fixed .button-contact {
    margin-top: 15px;
    display: inline-block;
    max-width: 100px;
    margin-left: 10px;
  }

  .fixed .button-contact p,
  .fixed .button-portfolio p {
    padding: 10px;
  }

  .fixed .button-contact p {
    padding: 7px 10px 8px;
    max-height: 25px;
  }
  .fixed .button-portfolio {
    max-width: 110px;
    display: inline-block;
    margin-left: 5px;
  }

  .content, .content2, .content3, .content4, .content5 {
    bottom: 25px;
    left: 20px;
    right: 75px;
  }

  .down-arrow {
    bottom: 25px;
    right: 25px;
  }

  .up-arrow {
    bottom: 65px;
    right: 25px;
  }

  .down-arrow, .up-arrow {
    height: 34px;
    width: 34px;
  }

  .down-arrow .down-icon, .up-arrow .up-icon {
    
    width: 13px;

  }

  .port-heading a {
    font-size: 18px;
  }

  /* img */

  .logo,
  .phone,
  .wrench,
  .tie,
  .lightbulb {
    max-width: 100px;
    margin-top: 150px;
    margin-left: -150px;
  }

  .phone {
    max-width: 75px;
    margin-top: 125px;
  }

  .rbdesigns_mobile {
    max-width: 100px;
    margin-left: 40px;
    margin-top: 150px;
    opacity: 1;
  }

  .tie {
    max-width: 30px;
  }

  .bubble2,
  .phone2,
  .wrench2,
  .tie2,
  .lightbulb2 {
    margin-left: 400px;
    margin-top: 200px;
  }

  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-top: 150px;
    margin-left: 200px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4,
  .lightbulb4,
  .rbdesigns {
    margin-top: 350px;
    margin-left: 20px;
  }

  .rbdesigns {
    opacity: .1;
  }
  
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .logo,
  .phone,
  .wrench,
  .tie,
  .lightbulb {
    max-width: 100px;
    margin-top: 25px;
    margin-left: 150px;
  }

  .phone {
    max-width: 75px;
  }

  .rbdesigns_mobile {
    margin-left: 220px;
    margin-top: 20px;
    opacity: 1;
  }

  .tie {
    max-width: 30px;
  }

  .bubble2,
  .phone2,
  .wrench2,
  .tie2,
  .lightbulb2 {
    margin-left: 400px;
    margin-top: 200px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4,
  .lightbulb4,
  .rbdesigns {
    margin-top: 250px;
    margin-left: 20px;
  }

}



@media screen and (min-width: 1500px) {
  .fixed {
    max-width: 850px;
  }

  .content, .content2, .content3, .content4, .content5 {
    max-width: 500px;
    margin-left: 300px;
  }

  .port-heading a {
    font-size: 50px;
  }

}




@media screen and (min-width: 1800px) {
  .fixed {
    max-width: 50%;
  }
  .content, .content2, .content3, .content4, .content5 {
    max-width: 32%;
  }
}




@media screen and (max-height: 550px) {
  .fixed {
    bottom: 15px;
    top: 15px;
    left: 10px;
    right: 15px;
  }

  .fixed img {
    max-width: 30px;
  }

  .fixed h1 {
    font-size: 30px;
    margin-top: -35px;
    margin-left: 50px;
    padding-bottom: 0;
  }

  p {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }

  .fixed .button-contact {
    margin-top: 15px;
    display: inline-block;
    max-width: 100px;
    margin-left: 10px;
  }

  .fixed .button-contact p,
  .fixed .button-portfolio p {
    padding: 10px;
  }
  .fixed .button-portfolio {
    max-width: 110px;
    display: inline-block;
    margin-left: 5px;
  }

  .fixed .button-contact p {
    padding: 7px 10px 8px;
    max-height: 25px;
  }

  .content, .content2, .content3, .content4, .content5 {
    bottom: 25px;
    left: 20px;
    right: 75px;
  }

  .down-arrow {
    bottom: 25px;
    right: 25px;
  }

  .up-arrow {
    bottom: 65px;
    right: 25px;
  }

  .down-arrow, .up-arrow {
    height: 34px;
    width: 34px;
  }

  .down-arrow .down-icon, .up-arrow .up-icon {
    
    width: 13px;

  }
}

@media screen and (min-height: 950px) {

  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-top: 600px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4 {
    margin-top: 700px;
  }

  .lightbulb4 {
    margin-top: 500px;
  }
}

@media screen and (min-height: 1100px) {

  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-top: 800px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4 {
    margin-top: 900px;
  }

  .lightbulb4 {
    margin-top: 700px;
  }
}

@media screen and (min-height: 1200px) and (min-width: 1020px) {
  .fixed img {
    max-width: 80px;
  }

  .fixed h1 {
    font-size: 70px;
    margin-top: 225px;
  }

  p {
    font-size: 45px;
  }

  h2 {
    font-size: 40px;
  }

  .fixed .button-portfolio {
    max-width: 230px;
  }

  .fixed .button-contact {
    max-width: 210px;
  }

  .fixed .button-contact p,
  .fixed .button-portfolio p {
    padding: 15px;
  }

  .fixed .button-contact p {
    padding: 10px 15px 40px;
    max-height: 25px;
  }

  .down-arrow {
    bottom: 50px;
    right: 50px;
  }

  .up-arrow {
    bottom: 130px;
    right: 50px;
  }

  .down-arrow, .up-arrow {
    height: 74px;
    width: 74px;
  }

  .down-arrow .down-icon, .up-arrow .up-icon {
    
    width: 30px;

  }
}

@media screen and (min-height: 1400px) {
  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-top: 1000px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4 {
    margin-top: 1100px;
  }
  .lightbulb4 {
    margin-top: 900px;
  }
}

@media screen and (min-width: 1500px) {
  .bubble1,
  .phone1,
  .wrench1,
  .tie1,
  .lightbulb1 {
    margin-left: 1000px;
  }

  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-left: 1400px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4,
  .lightbulb4 {
    margin-left: 700px;
  }
}

@media screen and (min-width: 2000px) {
  .bubble1,
  .phone1,
  .wrench1,
  .tie1,
  .lightbulb1 {
    margin-left: 1200px;
  }

  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-left: 1800px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4,
  .lightbulb4 {
    margin-left: 900px;
  }
}

@media screen and (min-width: 2500px) {
  .bubble1,
  .phone1,
  .wrench1,
  .tie1,
  .lightbulb1 {
    margin-left: 1400px;
  }

  .bubble3,
  .phone3,
  .wrench3,
  .tie3,
  .lightbulb3 {
    margin-left: 2000px;
  }

  .bubble4,
  .phone4,
  .wrench4,
  .tie4,
  .lightbulb4 {
    margin-left: 1100px;
  }
}



button {
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0px 0px;
  cursor: pointer;
}



/****************************************
contact sent
******************************************/

.check .check-icon::before {
  -webkit-animation: check 0.4s ease-in;
  -moz-animation: check 0.4s ease-in;
  -ms-animation: check 0.4s ease-in;
  -o-animation: check 0.4s ease-in;
  animation: check 0.4s ease-in;
}

.check .check-icon::after {
  -webkit-animation: checkLong 0.4s ease-in;
  -moz-animation: checkLong 0.4s ease-in;
  -ms-animation: checkLong 0.4s ease-in;
  -o-animation: checkLong 0.4s ease-in;
  animation: checkLong 0.4s ease-in;
}

.sent.check {
  -webkit-animation: fading 1.5s ease-in;
  -moz-animation: fading 1.5s ease-in;
  -ms-animation: fading 1.5s ease-in;
  -o-animation: fading 1.5s ease-in;
  animation: fading 1.5s ease-in;
}

@-webkit-keyframes check {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@-webkit-keyframes checkLong {
  0%{
    width: 0%;
  }
  100%{
    width: 102px;
  }
}

@-webkit-keyframes fading {
  0%{
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
  }
  50%{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-moz-keyframes check {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@-moz-keyframes checkLong {
  0%{
    width: 0%;
  }
  100%{
    width: 102px;
  }
}

@-moz-keyframes fading {
  0%{
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
  }
  50%{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-ms-keyframes check {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@-ms-keyframes checkLong {
  0%{
    width: 0%;
  }
  100%{
    width: 102px;
  }
}

@-ms-keyframes fading {
  0%{
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
  }
  50%{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-o-keyframes check {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@-o-keyframes checkLong {
  0%{
    width: 0%;
  }
  100%{
    width: 102px;
  }
}

@-o-keyframes fading {
  0%{
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
  }
  50%{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes check {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes checkLong {
  0%{
    width: 0%;
  }
  100%{
    width: 102px;
  }
}

@keyframes fading {
  0%{
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
  }
  50%{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.sent {
  z-index: 150;
  background-color: rgba(13,8,9,.5);
  position: absolute;
  width: 135px;
  height: 110px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -87.5px;
  color: #0D0809;
  padding-top: 90px;
  padding-left: 65px;
  visibility: hidden;
}

.sent p {
  padding-top: 50px;
  font-size: 30px;
  color: #fcfcfc;
  text-align: left;
  margin-right: 40px;
}

.sent .check-icon {
  top: 50px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 52px;
  height: 2px;
  color: white;
  z-index: 150;
}


.sent .check-icon::before,
.sent .check-icon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;

  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  -o-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}

.sent .check-icon::before {

  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sent .check-icon::after {
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  width: 102px;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

















